<div class="mt-8 mb-8">
    <div class="flex">
        <div *ngFor="let perro of perros">
            <p-card>
                {{perro.nombre}}
                <p-button label="Ver perro" [routerLink]="['/perfilperro', perro.id_perro]"></p-button>
            </p-card>
        </div>
    </div>
    
    <h1>Añadir más perritos, registro de perrito</h1>
    <div>
        <p-button icon="pi pi-iconName" label="Registrar un nuevo perro" (click)="abrirModal()"></p-button>
    </div>

    <div>
        <p-dialog header="Registro de perrito" [(visible)]="mostrarModal" [modal]="true">
            <form [formGroup]="registro">
                <div class="p-2">
                    <input type="text" placeholder="Raza" pInputText formControlName="id_raza" />
                </div>
                <div class="p-2">
                    <input type="text" placeholder="Nombre" pInputText formControlName="nombre" />
                </div>
                <div class="p-2">
                    <input type="text" placeholder="Fecha de nacimiento" pInputText formControlName="fecha_nacimiento" />
                </div>
                <div class="p-2">
                    <input type="text" placeholder="Sexo" pInputText formControlName="genero" />
                </div>
                <p-button icon="pi pi-iconName" label="Registrar" (click)="registrarPerro()"></p-button>
            </form>
        </p-dialog>
    </div>
</div>
