<div class="mt-8 mb-8">
    <div class="flex flex-column align-items-center justify-content-center">
        <h2>Perros registrados</h2>
            <div class="col-8 mt-4 mb-4" *ngFor="let perro of perros">
                <p-card class="border-800" styleClass="bg-cyan-100 border-solid">
                    <div class="flex flex-wrap justify-content-center align-items-center">
                        <div class="mr-4 ml-4 mt-2 mb-2">
                            <span class="material-symbols-outlined" style="font-size: 75px;">pets</span>
                        </div>
                        <div class="mr-4 ml-4 mt-2 mb-2">
                            <h4>{{perro.nombre}}</h4>
                        </div>
                        <div class="mr-4 ml-4 mt-2 mb-2">
                            <p-button label="Ver perro" [routerLink]="['/perfilperro', perro.id_perro]"></p-button> 
                        </div>
                        <div class="mr-4 ml-4 mt-2 mb-2">
                            <p-button label="Seleccionar" (click)="seleccionarPerro(perro)"></p-button>
                        </div>
                    </div>

                    
                </p-card>
            </div>    
    </div>
    

    <div class="text-center flex flex-column">
        <div>
            <h2>Añadir más perros</h2>
        </div>
        <form [formGroup]="registro">
                    
            <div class="p-2">
                <p-dropdown [options]="razas" placeholder="Selecciona una raza" formControlName="id_raza"></p-dropdown>
                <div *ngIf="registro.get('id_raza')?.invalid && (registro.get('id_raza')?.dirty || registro.get('id_raza')?.touched)">
                    <small class="p-error">La raza es obligatoria</small>
                </div>
            
            </div>
            <div class="p-2">
                <input type="text" placeholder="Nombre" pInputText formControlName="nombre" />
                <div
                        *ngIf="registro.get('nombre')?.invalid && (registro.get('nombre')?.dirty || registro.get('nombre')?.['touched'])"
                    >
                        <small class="p-error" *ngIf="registro.get('nombre')?.errors?.['required']">
                        Nombre del perro es obligatorio
                        </small>
                        <small class="p-error" *ngIf="registro.get('nombre')?.errors?.['nombre']">
                        Ingrese un nombre valido
                        </small>
                </div>          
            </div>
            <div class="p-2">
                <p-calendar placeholder="Fecha de nacimiento" formControlName="fecha_nacimiento" [required]="true" [maxDate]="today" [showIcon]="true">
                </p-calendar>
            </div>
                <small class="p-error" *ngIf="registro.get('fecha_nacimiento')?.hasError('required')">
                La fecha de nacimiento es obligatoria.
                </small>
                <small class="p-error" *ngIf="registro.get('fecha_nacimiento')?.hasError('edadMinima')">
                  Debes tener al menos 0 años.
                </small>
            <div class="p-2">
                <p-dropdown [options]="generoOptions" formControlName="genero" optionLabel="label" optionValue="value" placeholder="Sexo"></p-dropdown>
                <div *ngIf="registro.get('genero')?.invalid && (registro.get('genero')?.dirty || registro.get('genero')?.touched)">
                    <small class="p-error">El sexo es obligatorio</small>
                </div>
            </div>
            <p-button icon="pi pi-iconName" label="Registrar" (click)="registrarPerro()"></p-button>
        </form>
    </div>
</div>
