<div class="mt-8 mb-8">
    <div class="flex flex-column align-items-center justify-content-center text-center">
        <h2>Perros registrados</h2>
            <div class="col-8 mt-4 mb-4" *ngFor="let perro of perros">
                <p-card class="border-800" styleClass="bg-cyan-100 border-solid">
                    <div class="flex inline-flex justify-content-center align-items-center">

                        <div class="mr-4 ml-4">
                            {{perro.nombre}}
                        </div>
                        <div class="mr-4 ml-4">
                            <p-button label="Ver perro" [routerLink]="['/perfilperro', perro.id_perro]"></p-button> 
                        </div>
                        <div class="mr-4 ml-4">
                            <p-button label="Seleccionar" (click)="seleccionarPerro(perro)"></p-button>
                        </div>
                    </div>

                    
                </p-card>
            </div>    
    </div>
    

    <div class="text-center flex flex-column">
        <div>
            <h2>Añadir más perros</h2>
            <div>
                <p-button icon="pi pi-iconName" label="Registrar un nuevo perro" (click)="abrirModal()"></p-button>
            </div>    
        </div>
        <p-dialog header="Registro de perrito" [(visible)]="mostrarModal" [modal]="true">
            <form [formGroup]="registro">
                <div class="p-2">
                    <input type="text" placeholder="Raza" pInputText formControlName="id_raza" />
                </div>
                <div class="p-2">
                    <input type="text" placeholder="Nombre" pInputText formControlName="nombre" />
                </div>
                <div class="p-2">
                    <input type="text" placeholder="Fecha de nacimiento" pInputText formControlName="fecha_nacimiento" />
                </div>
                <div class="p-2">
                    <input type="text" placeholder="Sexo" pInputText formControlName="genero" />
                </div>
                <p-button icon="pi pi-iconName" label="Registrar" (click)="registrarPerro()"></p-button>
            </form>
        </p-dialog>
    </div>
</div>
