<div class="mt-8 mb-8">
  <div class="flex align-items-center justify-content-center mr-4 ml-4">
      <p-card class="border-800" styleClass="bg-cyan-100 border-solid">
          <div class="flex flex-wrap justify-content-center align-items-center mr-4 ml-4">
            <div class="flex justify-content-center align-items-center mr-4 ml-4 mt-2 mb-2">
              <span class="material-symbols-outlined" style="font-size: 100px;">
                account_circle
                </span>
            </div>
            <div class="mr-4 ml-4">
              <h4>Nombre</h4>
              <p>{{usuario?.nombre}}</p>
            </div>
            <div class="mr-4 ml-4">
              <h4>Apellido</h4>
              <p>{{usuario?.apellido}}</p>
            </div>
            <div class="mr-4 ml-4">
              <h4>Email</h4>
              <p>{{usuario?.email}}</p>
            </div>
            <div class="mr-4 ml-4">
              <h4>Fecha nacimiento</h4>
              <p>{{usuario?.fecha_nacimiento | date: 'dd/MM/yyyy': 'UTC' }}</p>
            </div>
          </div>
      </p-card>
  </div>
    
  <div class="text-center align-items-center justify-content-center">
    <p-card>
        <div class="align-items-center justify-content-center">
        <form [formGroup]="formulario">
            <h1>Modificar datos de {{usuario?.nombre}}</h1>
            
            <div class="p-2">
                <input type="text" placeholder="Nombre" pInputText formControlName="nombre" />
                <div
                            *ngIf="formulario.get('nombre')?.invalid && (formulario.get('nombre')?.dirty || formulario.get('nombre')?.['touched'])"
                        >
                            <small class="p-error" *ngIf="formulario.get('nombre')?.errors?.['required']">
                            Nombre de usuario es obligatorio
                            </small>
                            <small class="p-error" *ngIf="formulario.get('nombre')?.errors?.['nombre']">
                            Ingrese un usuario válido
                            </small>
                    </div>        
            </div>
            <div class="p-2">
                <input type="text" placeholder="Apellido" pInputText formControlName="apellido" />
                <div
                            *ngIf="formulario.get('apellido')?.invalid && (formulario.get('apellido')?.dirty || formulario.get('apellido')?.['touched'])"
                        >
                            <small class="p-error" *ngIf="formulario.get('apellido')?.errors?.['required']">
                            Apellido de usuario es obligatorio
                            </small>
                            <small class="p-error" *ngIf="formulario.get('apellido')?.errors?.['apellido']">
                            Ingrese un apellido válido
                            </small>
                    </div>
            </div>
            <div class="p-2">
                <input type="text" placeholder="Email" pInputText formControlName="email" />
                <div
                            *ngIf="formulario.get('email')?.invalid && (formulario.get('email')?.dirty || formulario.get('email')?.['touched'])"
                        >
                            <small class="p-error" *ngIf="formulario.get('email')?.errors?.['required']">
                            Correo electrónico es obligatorio
                            </small>
                            <small class="p-error" *ngIf="formulario.get('email')?.errors?.['email']">
                            Ingrese un correo válido
                            </small>
                    </div>
            </div>
            
            <div class="p-2">
              <p-calendar placeholder="Fecha de nacimiento" formControlName="fecha_nacimiento" [required]="true" [maxDate]="today" [showIcon]="true">
              </p-calendar>
            </div>
            
              <small class="p-error" *ngIf="formulario.get('fecha_nacimiento')?.hasError('required')">
              La fecha de nacimiento es obligatoria.
              </small>
              <small class="p-error" *ngIf="formulario.get('fecha_nacimiento')?.hasError('edadMinima')">
                Debes tener al menos 14 años.
              </small>       
            <div class="mt-4 mb-4">
                <p-button (click)="guardarCambios()" label="Guardar cambios"></p-button>
            </div>
        </form>
        </div>
        <div class="mt-4 mb-4 mr-2 ml-2">
          <p-button icon="pi pi-iconName"severity="danger" label="Cerrar Sesión" (click)="logout()"></p-button>
        </div>
    </p-card>

    <p-card styleClass="bg-red-500">
      <div class="align-items-center">
        <p-button icon="pi pi-iconName" severity="danger" label="Eliminar usuario" (click)="eliminarUsuario()"></p-button>
      </div>
    </p-card>    
</div>