<div class="mt-8 mb-8">
  <div class="flex flex-column align-items-center justify-content-center text-center">
      <h2>Perfil de {{usuario?.nombre}}</h2>
    <div class="col-8 mt-4 mb-4">
        <p-card class="border-800"  styleClass="bg-cyan-100 border-solid">
          <div>
            <div>
              {{ usuario?.nombre }}
            </div>
            <div>
              {{ usuario?.apellido }}
            </div>
            <div>
              {{ usuario?.fecha_nacimiento }}
            </div>
          </div>
        </p-card>
    </div>
  </div>
    
  <div class="text-center align-items-center justify-content-center">
    <p-card [style]="{width: 'width'}" styleClass="styleClass">
        <div class="align-items-center justify-content-center">
        <form [formGroup]="formulario">
            <h1>Modificar datos de {{usuario?.nombre}}</h1>
            
            <div class="p-2">
                <input type="text" placeholder="Nombre" pInputText formControlName="nombre" />
                <div
                            *ngIf="formulario.get('nombre')?.invalid && (formulario.get('nombre')?.dirty || formulario.get('nombre')?.['touched'])"
                        >
                            <small class="p-error" *ngIf="formulario.get('nombre')?.errors?.['required']">
                            Nombre de usuario es obligatorio
                            </small>
                            <small class="p-error" *ngIf="formulario.get('nombre')?.errors?.['nombre']">
                            Ingrese un usuario válido
                            </small>
                    </div>        
            </div>
            <div class="p-2">
                <input type="text" placeholder="Apellido" pInputText formControlName="apellido" />
                <div
                            *ngIf="formulario.get('apellido')?.invalid && (formulario.get('apellido')?.dirty || formulario.get('apellido')?.['touched'])"
                        >
                            <small class="p-error" *ngIf="formulario.get('apellido')?.errors?.['required']">
                            Apellido de usuario es obligatorio
                            </small>
                            <small class="p-error" *ngIf="formulario.get('apellido')?.errors?.['apellido']">
                            Ingrese un apellido válido
                            </small>
                    </div>
            </div>
            <div class="p-2">
                <input type="text" placeholder="Email" pInputText formControlName="email" />
                <div
                            *ngIf="formulario.get('email')?.invalid && (formulario.get('email')?.dirty || formulario.get('email')?.['touched'])"
                        >
                            <small class="p-error" *ngIf="formulario.get('email')?.errors?.['required']">
                            Correo electrónico es obligatorio
                            </small>
                            <small class="p-error" *ngIf="formulario.get('email')?.errors?.['email']">
                            Ingrese un correo válido
                            </small>
                    </div>
            </div>
            
            <div class="p-2">
                <p-calendar placeholder="Fecha de Nacimiento" formControlName="fecha_nacimiento"></p-calendar>
                <div>
                  <small *ngIf="formulario.get('fecha_nacimiento')?.invalid && (formulario.get('fecha_nacimiento')?.dirty || formulario.get('fecha_nacimiento')?.['touched'])">
                  </small>
                  <small class="p-error" *ngIf="formulario.get('fecha_nacimiento')?.errors?.['required']">
                      Fecha de nacimiento es obligatorio
                  </small>
                  <small class="p-error block" *ngIf="getAge(formulario.get('fecha_nacimiento')?.value) > 150">
                      Ingrese una fecha válida.
                  </small>
                  <small class="p-error block" *ngIf="getAge(formulario.get('fecha_nacimiento')?.value) < 18">
                      Debe ser mayor de 18 años.
                  </small>
              </div>
            </div>
            <div class="mt-4 mb-4">
                <p-button (click)="guardarCambios()" label="Guardar cambios"></p-button>
            </div>
        </form>
        </div>
        <div class="mt-4 mb-4 mr-2 ml-2">
          <p-button icon="pi pi-iconName"severity="danger" label="Cerrar Sesión" (click)="logout()"></p-button>
        </div>
    </p-card>
    
</div>