
<div class="mt-8 mb-8">
    <div class="text-center align-items-center justify-content-center">
        <p-card [style]="{width: 'width'}" styleClass="styleClass">
            <div class="align-items-center justify-content-center">
            <form [formGroup]="registro">
                <h1>Registro de usuario</h1>
                
                <div class="p-2">
                    <input type="text" placeholder="Nombre" pInputText formControlName="nombre" />
                </div>
                <div class="p-2">
                    <input type="text" placeholder="Apellido" pInputText formControlName="apellido" />
                </div>
                <div class="p-2">
                    <input type="text" placeholder="Email" pInputText formControlName="email" />
                </div>
                <div class="p-2">
                    <input type="text" placeholder="Contraseña" pInputText formControlName="contrasena" />
                </div>
                
                <div class="p-2">
                    <p-calendar placeholder="Fecha de Nacimiento" formControlName="fecha_nacimiento"></p-calendar>
                </div>
               
                <div>
                    <p-button (click)="registrar()" label="Registrarse"></p-button>
                </div>
            </form>
            </div>

        </p-card>

    </div>
    
    
</div>

