<div class="mt-8 mb-8">
    <p>perfilperro works!</p>

    <div *ngFor="let perro of perro">
        <p>{{perro.nombre}}</p>
        <p>{{perro.fecha_nacimiento}}</p>
        <p>{{perro.nombre_raza}}</p>
        <p>{{perro.genero}}</p>

    </div>
    
    <h2>Modificar datos de perrito</h2>
    <h1>Mostrar las actividades guardadas para el perrito</h1>
    <div *ngFor="let actividad of actividades">
        <div>
            {{actividad.nombre}} - {{actividad.descripcion}}
        </div>
    </div>
    <h1>Mostrar las actividades recientes con progreso en %</h1>
    <h2>Opcion de eliminar perrito desde perfil</h2>

</div>