<div class="mt-8 mb-8">
  <h2>Modificar datos de perrito</h2>
    <div *ngFor="let p of perro">
        <p>{{p.nombre}}</p>
        <p>{{p.fecha_nacimiento}}</p>
        <p>{{p.nombre_raza}}</p>
        <p>{{p.genero}}</p>
    </div>
    
    <h1>Mostrar las actividades guardadas para el perrito</h1>
    <div *ngFor="let actividad of actividades">
        <div>
            {{actividad.nombre}} - {{actividad.descripcion}} - {{actividad.contador}}
            <button (click)="eliminarRelacionPerroActividad(actividad.id_actividad)">Eliminar</button>

        </div>
    </div>
    <h1>Mostrar las actividades recientes con progreso en %</h1>

    <div *ngFor="let actividad of actividades_recientes">
      <div>
          {{actividad.nombre}} - {{actividad.descripcion}} - {{actividad.fecha_reciente}}
      </div>
  </div>

  <h1>Formulario de modificacion</h1>

    <form [formGroup]="formulario" (submit)="modificarPerro()">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" formControlName="nombre" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
          <input type="date" formControlName="fecha_nacimiento" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="id_raza">ID de Raza:</label>
          <input type="number" formControlName="id_raza" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Género:</label>
          <select formControlName="genero" class="form-control" required>
            <option value="Macho">Macho</option>
            <option value="Hembra">Hembra</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Modificar Perro</button>
      </form>

      <h1>Eliminar perro</h1>
      <button (click)="eliminarPerro()">Eliminar Perro</button>
</div>