<div class="mt-8 mb-8">
    <div class="mr-2 ml-2">
        <p-button icon="pi pi-iconName" severity="danger" label="Cerrar Sesión" (click)="logoutAdmin()"></p-button>
      </div>
      <div>
        <p>Crear actividad nueva</p>

      </div>
    <form [formGroup]="registroActividad">
        
        <p-dropdown [options]="categorias" formControlName="id_categoria" optionLabel="label" optionValue="value"></p-dropdown>
        <div class="p-2">
            <input type="text" placeholder="nombre" pInputText formControlName="nombre" />
            <div
                    *ngIf="registroActividad.get('nombre')?.invalid && (registroActividad.get('nombre')?.dirty || registroActividad.get('nombre')?.['touched'])"
                >
                    <small class="p-error" *ngIf="registroActividad.get('nombre')?.errors?.['required']">
                    Nombre de actividad es obligatorio
                    </small>
                    <small class="p-error" *ngIf="registroActividad.get('nombre')?.errors?.['nombre']">
                    Required
                    </small>
            </div>
        </div>
        <div class="p-2">
            <input type="text" placeholder="descripcion" pInputText formControlName="descripcion" />
            <div
                    *ngIf="registroActividad.get('descripcion')?.invalid && (registroActividad.get('descripcion')?.dirty || registroActividad.get('descripcion')?.['touched'])"
                >
                    <small class="p-error" *ngIf="registroActividad.get('descripcion')?.errors?.['required']">
                    Descripcion es obligatorio
                    </small>
                    <small class="p-error" *ngIf="registroActividad.get('descripcion')?.errors?.['descripcion']">
                    Required
                    </small>
            </div>
        </div>
        <div class="mt-4 mb-4">
            <p-button (click)="postActividadNueva()" label="Crear actividad"></p-button>
          </div>
        </form>

        <div>
        <p>Crear paso nuevo</p>

            <form [formGroup]="registroPasos">
        
                <p-dropdown [options]="actividades" formControlName="id_actividad" optionLabel="label" optionValue="value"></p-dropdown>
                <div class="p-2">
                    <input type="text" placeholder="titulo" pInputText formControlName="titulo" />
                    <div
                            *ngIf="registroActividad.get('titulo')?.invalid && (registroActividad.get('titulo')?.dirty || registroActividad.get('titulo')?.['touched'])"
                        >
                            <small class="p-error" *ngIf="registroActividad.get('titulo')?.errors?.['required']">
                            Titulo del paso es obligatorio
                            </small>
                            <small class="p-error" *ngIf="registroActividad.get('titulo')?.errors?.['nombre']">
                            Required
                            </small>
                    </div>
                </div>
                <div class="p-2">
                    <input type="text" placeholder="nombre" pInputText formControlName="nombre" />
                    <div
                            *ngIf="registroActividad.get('nombre')?.invalid && (registroActividad.get('nombre')?.dirty || registroActividad.get('nombre')?.['touched'])"
                        >
                            <small class="p-error" *ngIf="registroActividad.get('nombre')?.errors?.['required']">
                            Nombre del paso es obligatorio
                            </small>
                            <small class="p-error" *ngIf="registroActividad.get('nombre')?.errors?.['descripcion']">
                            Required
                            </small>
                    </div>
                </div>
                <div class="p-2">
                    <input type="text" placeholder="descripcion" pInputText formControlName="descripcion" />
                    <div
                            *ngIf="registroActividad.get('descripcion')?.invalid && (registroActividad.get('descripcion')?.dirty || registroActividad.get('descripcion')?.['touched'])"
                        >
                            <small class="p-error" *ngIf="registroActividad.get('descripcion')?.errors?.['required']">
                            Descripcion del paso es obligatorio
                            </small>
                            <small class="p-error" *ngIf="registroActividad.get('descripcion')?.errors?.['descripcion']">
                            Required
                            </small>
                    </div>
                </div>
                <div class="mt-4 mb-4">
                    <p-button (click)="postPasoActividad()" label="Añadir paso"></p-button>
                  </div>
            </form>
        </div>

        <div>
            <div>
                <p-card *ngFor="let actividad of actividades_">
                    <div>
                      {{actividad.nombre}}
                      <div>
                        <p-button icon="pi pi-iconName" (click)="obtenerPasosPorActividad(actividad.id_actividad)" label="Mostrar Pasos"></p-button>
                        <p-button icon="pi pi-trash" (click)="eliminarActividad(actividad.id_actividad)" label="Eliminar Actividad"></p-button>

                        <div *ngFor="let paso of pasosPorActividad[actividad.id_actividad]">
                          {{paso.titulo}} - {{paso.nombre}} - {{paso.descripcion}}
                          <p-button icon="pi pi-trash" (click)="eliminarPaso(paso.id_paso)" label="Eliminar Paso"></p-button>
                        </div>
                      </div>
                    </div>
                  </p-card>
            </div>
        </div>
    

</div>
