<div class="mt-8 mb-8">
  
    <div class="mr-2 ml-2 text-center align-items-center justify-content-center">
      <div>
        <h1>Bienvenid@ administrador(a)</h1>
      </div>
      <p-button icon="pi pi-iconName" severity="danger" label="Cerrar Sesión" (click)="logoutAdmin()"></p-button>
    </div>

    <div class="text-center justify-content-center align-content-center mt-4 mb-4">
      <p-card styleClass="bg-blue-200">
        <div class="flex max-w-max">
          <div class="mt-4 mb-4" styleClass="bg-blue-200">
            <div>
              <h2>Crear actividad nueva</h2>
            </div>
            <div class="mt-4 mb-4">
              <input id="imagenActividad" style="display: none" type="file" (change)="seleccionarArchivo($event)">
              <p-button label="Subir imagen" (click)="subirImagen()"></p-button>
              <div>{{fileActividadName}}</div>
            </div>
        
            <form [formGroup]="registroActividad">
              <p-dropdown [options]="categorias" formControlName="id_categoria" optionLabel="label" optionValue="value"></p-dropdown>
        
              <div class="p-2">
                <input type="text" placeholder="nombre" pInputText formControlName="nombre" />
                <div *ngIf="registroActividad.get('nombre')?.invalid && (registroActividad.get('nombre')?.dirty || registroActividad.get('nombre')?.['touched'])">
                  <small class="p-error" *ngIf="registroActividad.get('nombre')?.errors?.['required']">
                    Nombre de actividad es obligatorio
                  </small>
                </div>
              </div>
        
              <div class="p-2">
                <input type="text" placeholder="descripcion" pInputText formControlName="descripcion" />
                <div *ngIf="registroActividad.get('descripcion')?.invalid && (registroActividad.get('descripcion')?.dirty || registroActividad.get('descripcion')?.['touched'])">
                  <small class="p-error" *ngIf="registroActividad.get('descripcion')?.errors?.['required']">
                    Descripcion es obligatorio
                  </small>
                </div>
              </div>
              <div class="mt-4 mb-4">
                <p-button (click)="postActividadNueva()" label="Crear actividad"></p-button>
              </div>
            </form>
          </div>
    
        <div class="mt-4 mb-4 ml-4 mr-4" styleClass="bg-blue-200">
          <div>
            <h2>Crear paso nuevo de actividad</h2>
            <div>
              <input id="imagenPaso" style="display: none" type="file" (change)="seleccionarArchivoPaso($event)">
              <p-button label="Subir imagen" (click)="subirImagenPaso()"></p-button>
              <div>{{filePasoName}}</div>
            </div>
            <form [formGroup]="registroPasos">

              <p-dropdown [options]="actividades" formControlName="id_actividad" optionLabel="label" optionValue="value"></p-dropdown>
    
              <div class="p-2">
                <input type="text" placeholder="titulo" pInputText formControlName="titulo" />
                <div *ngIf="registroPasos.get('titulo')?.invalid && (registroPasos.get('titulo')?.dirty || registroPasos.get('titulo')?.['touched'])">
                  <small class="p-error" *ngIf="registroPasos.get('titulo')?.errors?.['required']">
                    Titulo del paso es obligatorio
                  </small>
                </div>
              </div>
    
              <div class="p-2">
                <input type="text" placeholder="nombre" pInputText formControlName="nombre" />
                <div *ngIf="registroPasos.get('nombre')?.invalid && (registroPasos.get('nombre')?.dirty || registroPasos.get('nombre')?.['touched'])">
                  <small class="p-error" *ngIf="registroPasos.get('nombre')?.errors?.['required']">
                    Nombre del paso es obligatorio
                  </small>
                </div>
              </div>
    
              <div class="p-2">
                <input type="text" placeholder="descripcion" pInputText formControlName="descripcion" />
                <div *ngIf="registroPasos.get('descripcion')?.invalid && (registroPasos.get('descripcion')?.dirty || registroPasos.get('descripcion')?.['touched'])">
                  <small class="p-error" *ngIf="registroPasos.get('descripcion')?.errors?.['required']">
                    Descripcion del paso es obligatorio
                  </small>
                  <small class="p-error" *ngIf="registroPasos.get('descripcion')?.errors?.['descripcion']">
                    Required
                  </small>
                </div>
              </div>
              <div class="mt-4 mb-4">
                <p-button (click)="postPasoActividad()" label="Añadir paso"></p-button>
              </div>
            </form>
          </div>
        </div>
        <div class="mt-4 mb-4 ml-4 mr-4">
          <h2>Pasos de actividad</h2>
          <div *ngFor="let actividad of actividades_">
            <div>
              <h4>{{actividad.nombre}}</h4>
              
              <div>
                <p-button class="ml-4 mr-4" icon="pi pi-iconName" (click)="obtenerPasosPorActividad(actividad.id_actividad)" label="Mostrar Pasos"></p-button>
                <p-button class="ml-4 mr-4" icon="pi pi-trash" severity="danger" (click)="eliminarActividad(actividad.id_actividad)" label="Eliminar Actividad"></p-button>
  
                  <div *ngFor="let paso of pasosPorActividad[actividad.id_actividad]">
                    <p-card>
                      <div class="flex">
                        <div>
                          {{paso.titulo}} - {{paso.nombre}} - {{paso.descripcion}}
                      </div>
                        <div>
                          <p-button class="mr-4 ml-4" icon="pi pi-trash" severity="danger" (click)="eliminarPaso(paso.id_paso)" label="Eliminar Paso"></p-button>
                        </div>
                      </div>
                    </p-card>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-card>
    </div>

    <div class="text-center justify-content-center align-content-center mt-4 mb-4">
      <p-card  styleClass="bg-blue-200">
        <div class="flex">
          <div class="mt-4 mb-4">
            <div class="mt-4 mb-4 ml-4 mr-4">
              <h2>Crear sugerencia con raza</h2>
            </div>
          <div class="mt-4 mb-4 ml-4 mr-4">
            <form [formGroup]="registroSugerencias">
                <div class="mt-4 mb-4 mr-4 ml-4">
                    <p-dropdown [options]="razas" formControlName="id_raza" optionLabel="label" optionValue="value"></p-dropdown>
                </div>
                <div class="mt-4 mb-4 mr-4 ml-4">
                    <input type="text" placeholder="nombre" pInputText formControlName="nombre" />
                    <div *ngIf="registroSugerencias.get('nombre')?.invalid && (registroSugerencias.get('nombre')?.dirty || registroSugerencias.get('nombre')?.touched)">
                        <small class="p-error" *ngIf="registroSugerencias.get('nombre')?.errors?.['required']">
                          Nombre de la sugerencia es obligatoria
                        </small>
                      </div>
                </div>            
                <div class="mt-4 mb-4 mr-4 ml-4">
                    <input type="text" placeholder="descripcion" pInputText formControlName="descripcion" />
                    <div *ngIf="registroSugerencias.get('descripcion')?.invalid && (registroSugerencias.get('descripcion')?.dirty || registroSugerencias.get('descripcion')?.touched)">
                        <small class="p-error" *ngIf="registroSugerencias.get('descripcion')?.errors?.['required']">
                          Descripcion de la sugerencia es obligatoria
                        </small>
                      </div>
                </div>
                <div class="mt-4 mb-4 mr-4 ml-4">
                    <p-button icon="pi pi-trash" (click)="postSugerencia()" label="Crear sugerencia"></p-button>
                </div>
              </form>
            </div>
          </div>
          <div class="mt-4 mb-4 ml-4 mr-4" styleClass="bg-blue-200">
            <div>
              <h2>Sugerencias generales</h2>
            </div>
      
            <div *ngFor="let sugerencia of sugerencias">
              <div class="mt-4 mb-4 ml-4 mr-4">
                <p-card>
                  <div class="ml-4 mr-4">
                    Nombre: {{sugerencia.nombre}} - Id raza: {{sugerencia.id_raza}}
                  </div>
                  <div class="ml-4 mr-4">
                    <p-button icon="pi pi-iconName" label="Eliminar sugerencia" severity="danger" (click)="eliminarSugerencia(sugerencia.id_sugerencia)"></p-button>
                  </div>
                </p-card>
                </div>
              </div>
            </div>
          </div>
        </p-card>
      </div>


      <div class="text-center justify-content-center align-content-center mt-4 mb-4">
        <p-card styleClass="bg-blue-200">
          <div class="flex flex-wrap">
            <div class="ml-4 mr-4">
              <div>
                <h2>Crear raza nueva</h2>
              </div>
              <div >
                <form [formGroup]="registroRazas">
                  <input type="text" placeholder="nombre" pInputText formControlName="nombre" />
          
                  <div *ngIf="registroRazas.get('nombre')?.invalid && (registroRazas.get('nombre')?.dirty || registroRazas.get('nombre')?.['touched'])">
                    <small class="p-error" *ngIf="registroRazas.get('nombre')?.errors?.['required']">
                      Nombre de la raza es obligatoria
                    </small>
                  </div>
          
                  <div class="mt-4 mb-4">
                    <p-button (click)="postRazaNueva()" label="Crear raza nueva"></p-button>
                  </div>
                </form>
              </div>
              
            </div>
  
              <div class="text-center justify-content-center align-content-center mt-4 mb-4">
                <div>
                  <h2>Razas disponibles</h2>
                </div>
                <div class="flex flex-wrap">
                  <div *ngFor="let raza of razas_">
                    <div class="mt-4 mb-4 ml4 mr-4">
                      <p-card>
                        <div>
                          Nombre: {{raza.nombre}} - Id: {{raza.id_raza}}
                        </div>
                        <div>
                          <p-button icon="pi pi-iconName" label="Eliminar raza" severity="danger" (click)="eliminarRaza(raza.id_raza)"></p-button>
                        </div>
                      </p-card>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </p-card>
        </div>

      <div class="text-center justify-content-center align-content-center mt-4 mb-4">
        <p-card  styleClass="bg-blue-200">
          <div class="flex">
            <div class="ml-4 mr-4">
              <div>
                <h2>Crear nueva categoría</h2>
              </div>
              <form [formGroup]="registroCategorias">
                  <div class="p-2">
                  <input type="text" placeholder="nombre" pInputText formControlName="nombre" />
                  <div *ngIf="registroCategorias.get('nombre')?.invalid && (registroCategorias.get('nombre')?.dirty || registroCategorias.get('nombre')?.['touched'])">
                      <small class="p-error" *ngIf="registroCategorias.get('nombre')?.errors?.['required']">
                          Nombre de la categoría es obligatoria
                      </small>
                  </div>
                  </div>
                <div>
                  <div class="p-2">
                    <input type="text" placeholder="descripcion" pInputText formControlName="descripcion" />
                    <div *ngIf="registroCategorias.get('descripcion')?.invalid && (registroCategorias.get('descripcion')?.dirty || registroCategorias.get('descripcion')?.touched)">
                        <small class="p-error" *ngIf="registroCategorias.get('descripcion')?.errors?.['required']">
                            Descripcion de la categoría es obligatoria
                        </small>
                    </div>
                  </div>
                </div>
                <div class="mt-4 mb-4">
                  <p-button (click)="postCategorias()" label="Crear nueva categoría"></p-button>
                </div>
              </form>
            </div>
            <div class="ml-4 mr-4">
              <div>
                <h2>Categorías disponibles</h2>
                <div *ngFor="let cat of categorias_">
                  <div class="mt-4 mb-4">
                    <p-card>
                      Nombre: {{cat.nombre}} - Id: {{cat.id_categoria}}
                      <p-button icon="pi pi-iconName" label="Eliminar categoría" severity="danger" (click)="eliminarCategoria(cat.id_categoria)"></p-button>
                  </p-card>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </p-card>
    </div>
  