
<p  class="bg-primary">login works!</p>

<div class="flex flex-wrap align-items-center justify-content-center">
    <p-card [style]="{width: 'width'}" styleClass="styleClass">
        <div class="text-center">
            <form [formGroup]="form">
                <h1>Iniciar sesión</h1>
    
            <p-header>
                <input formControlName="user" type="text" class="form-control" placeholder="Usuario" required>
            </p-header>
                <input formControlName="password" type="password" class="form-control" placeholder="Contraseña" required>
            <p-footer>
                <button type="submit">Logearse</button>
            </p-footer>
            </form>

        </div>
        

    </p-card>


</div>
    