<div class="mt-8 mb-8">
    <div class="text-center align-items-center justify-content-center">
        <p-card [style]="{width: 'width'}" styleClass="styleClass">
            <div class="align-items-center justify-content-center">
                <form [formGroup]="form">
                <div>
                    <h1>Iniciar sesión</h1>
                    <div class="field col">
                        <input placeholder="Usuario" type="text" pInputText formControlName="user"/>
                    </div>
                    <div class="field col">
                        <input placeholder="Contraseña" type="password" pInputText formControlName="password"/>
                    </div>
                    <div>
                        <p-button (click)="login()" label="Iniciar sesión"></p-button>    
                    </div>
        
                <p-footer>
                    <h3>¿No se ha registrado aún en TraineeDoggie?</h3>
                    <p-button (click)="paginaRegistro()" icon="pi pi-iconName" label="Registrarse"></p-button>                    
                </p-footer>
                </div>

                </form>
    
            
        </div>
    
        </p-card>
    
    
    </div>
        

</div>
