<p>Bienvenid@ {{username?.nombre}}!!!</p>

<p-button icon="pi pi-iconName" label="Perfil" (click)="perfilUsuario()"></p-button>

<p-button icon="pi pi-iconName" label="Cerrar Sesión" (click)="logout()"></p-button>

<h2>Perros de {{username?.nombre}}</h2>
<ul>
    <li *ngFor="let perro of perros">
      {{ perro.nombre }} - {{ perro.nombre_raza }}
    </li>
  </ul>

<h2>Actividades disponibles</h2>

<ul>
  <li *ngFor="let actividad of actividades">
    <h2>Trucos:</h2>
    <ng-container *ngIf="actividad.id_categoria === 1">
      <div (click)="seleccionarActividad(actividad)">
        {{ actividad.nombre }} - {{ actividad.descripcion }}
      </div>
    </ng-container>
  </li>

</ul>

<p-dialog header="Detalles de la Actividad" [(visible)]="displayModal" [modal]="true">
  <div *ngIf="selectedActividad">
    <h2>Nombre: {{ selectedActividad.nombre }}</h2>
    <p>Description: {{ selectedActividad.descripcion }}</p>
    <p>Fecha de creación: {{ selectedActividad.fecha_creacion }}</p>
    <p>Calificación: {{ selectedActividad.calificacion }}</p>
    <p>Progreso: {{ selectedActividad.progreso }}</p>
    <p>Contador: {{ selectedActividad.contador }}</p>
    <!-- Agrega más detalles según la estructura de tu actividad -->
  </div>
</p-dialog>
