<div class="mt-8 mb-8">
  <h1>Bienvenid@ {{username?.nombre}}!!!</h1>

  <div class="btn-container">
    <p-button icon="pi pi-iconName" label="Perfil" (click)="perfilUsuario()"></p-button>
    <p-button icon="pi pi-iconName" label="Perros de {{username?.nombre}}" [routerLink]="['/perros']"></p-button>
    <p-button icon="pi pi-iconName" label="Cerrar Sesión" (click)="logout()"></p-button>
  </div>


  <div *ngIf="perroSeleccionado">
    <h2>Perro Seleccionado</h2>
    <p-card header="{{perroSeleccionado.nombre}}">
      <div>
        {{perroSeleccionado.fecha_nacimiento}}
      </div>
      <div>
        {{perroSeleccionado.genero}}
      </div>
    </p-card>
  </div>

  <h2>Actividades disponibles</h2>
  <div>
    <div *ngFor="let actividad of actividades">
      <ng-container>
        <p-card (click)="seleccionarActividad(actividad)">
          <div>
            {{ actividad.nombre }} - {{ actividad.descripcion }}
          </div>
        </p-card>
      </ng-container>
    </div>
  </div>

  <p-dialog header="Detalles de la Actividad" [(visible)]="displayModal" [modal]="true">
    <div *ngIf="selectedActividad">
      <h3>Nombre: {{ selectedActividad.nombre }}</h3>
      <p>Description: {{ selectedActividad.descripcion }}</p>
      <p>Fecha de creación: {{ selectedActividad.fecha_creacion }}</p>
      <p>Calificación: {{ selectedActividad.calificacion }}</p>
      <p>Progreso: {{ selectedActividad.progreso }}</p>
      <p>Contador: {{ selectedActividad.contador }}</p>
      <div>
        <p-button icon="pi pi-iconName" label="Ver guía" (click)="mostrarPasos(selectedActividad.id_actividad)"></p-button>
        <p-button icon="pi pi-iconName" label="Guardar guía" (click)="guardarActividadPerro()"></p-button>
        <ul *ngFor="let paso of pasos">
          <li>
            {{ paso.titulo }} - {{ paso.nombre }} - {{ paso.descripcion }}
          </li>
        </ul>
      </div>
    </div>
  </p-dialog>

  <div>
    <h2>Todas las categorías</h2>
    <div>
      <div *ngFor="let categoria of categorias">
        <p-button icon="pi pi-iconName" label="{{categoria.nombre}}" [routerLink]="['/categorias', categoria.id_categoria]"></p-button>
      </div>
    </div>
  </div>
  
  <h2>Sugerencias generales</h2>
  <p-card>
    <div *ngFor="let sugerencia of sugerencias">
      <div>
        <strong>{{sugerencia.nombre}}</strong><br>
        {{sugerencia.descripcion}}
      </div>
    </div>
  </p-card>
</div>
